<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <meta name="robots" content="index,follow" />
    <link href="{% static 'form.css' %}" rel="stylesheet" media="screen">

</head>

<div class="form">
    <form action="#" method="post" id="">
        {% csrf_token %}
        <div class="title">Create Payment</div>
        <div class="input-container ic1">
            <div class="subtitle"><label for="id_url">Please enter the account to recieve payment in (Leave Blank for default address)</label></div><br>
            <input class="input" type="text" name="address" id="id_address" placeholder="{{address_charger}}">
        </div>
        <br><br><br><br>
        <div class="input-container ic1">
            <div class="subtitle"><label for="id_url">Please enter the amount to be recieved</label></div><br>
            <input class="input" type="text" name="amount" id="id_amount">
        </div>
        <br>
        <span class="text-muted"></span>
        <br><br>
        <input name="action" class="input" value="send_data" type="hidden">
        <button type="submit" class="submit"><span class="cta-btn-inner">
                Create Payment
            </span></button>
    </form>
</div>