<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <meta name="robots" content="index,follow" />
    <link href="{% static 'form.css' %}" rel="stylesheet" media="screen">

</head>

<div class="form">
    <form action="#" method="post" id="">
            {% csrf_token %}
            <div class="title">Enter Code</div>
            <div class="subtitle"><label for="id_url">Please enter the code provided by the charger:</label></div>
            <div class="input-container ic1">
                <input class="input" type="text" name="url" id="id_url">
            </div>
            <br>
            <span class="text-muted"></span>
            <input name="action" class="input" value="send_data" type="hidden">
            <button type="submit" class="submit"><span class="cta-btn-inner">
                    Submit
                </span></button>
    </form>
</div>