<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
    <meta name="robots" content="index,follow" />
    <link href="{% static 'form.css' %}" rel="stylesheet" media="screen">
    <style>
        a {
            all: unset;
        }
    </style>

</head>

<div class="form">
    <form action="#" method="post" id="">
            {% csrf_token %}
            <div class="title">Welcome</div>
            <div class="subtitle"><label for="id_url">Would you like to generate a new wallet?</label></div>
            <br>
            <button type="submit" class="submit"><span class="cta-btn-inner"><a href="{% url 'wallet:generate_wallet_car' %}">
                    Generate New Wallet
                </a></span></button>
            <button type="submit" class="submit"><span class="cta-btn-inner"><a href="{% url 'wallet:home' %}">
                No, Use Old Address
            </a></span></button>
    </form>
</div>